<!-- templates/profile.html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Instagram User Profile</h1>
    <p><strong>ID:</strong> {{ user.username }}</p>
    
    <h2>Your Instagram Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li>
            <img src="{{ post.media_url }}" alt="Post Image">
            <p>{{ post.caption }}</p>
            <a href="{{ post.permalink }}" target="_blank">View on Instagram</a>
        </li>
        {% endfor %}
    </ul>

    {% if error %}
    <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html> -->

<!-- instagram_profile.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram Profile</title>
</head>
<body>
    <h1>Welcome, @{{ user.username }}</h1>
    <h2>hello!! {{ user.user_id }}</h2>
    
    <h2>Your Instagram Posts</h2>
    <ul>
        {% for post in user.posts %}
        <li>
            <img src="{{ post.media_url }}" alt="Post Image">
            <p>{{ post.caption }}</p>
            <a href="{{ post.permalink }}" target="_blank">View on Instagram</a>
        </li>
        {% endfor %}
    </ul>

    {% if error %}
    <p>Error: {{ error }}</p>
    {% endif %}
</body>
</html>
